body {
  margin: 0;
  min-width: 768px;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-family: Arial, Geneva, Helvetica, sans-serif;

  background-color: #f2f2f2;
}
h1 {
  font-size: 21px;
  line-height: 26px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
p {
  margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  max-width: 1200px;
  margin: 0 auto;

  background-color: white;
}
.main-header {
  padding-left: 6%;
  padding-right: 6%;
  min-height: 56px;
}

.main-logo {
  display: none;
}
.main-nav {
  display: block;
}
.main-nav-item {
  display: block;
  float: left;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1%;
  padding-right: 1%;

  line-height: 26px;
  text-align: left;
}
.main-nav-item:nth-child(3n) {
  margin-left: 12%;
}
.main-nav-item:nth-child(n+3) {
   text-align: right;
}
.title-image {
  background: url(../img/bg-main.jpg) no-repeat;
  background-size: 100% 100%;
  background-position: top;
  overflow: hidden;
}
.hotels-type {
  background: url(../img/bg-filter.jpg) no-repeat;
}
.title-image img{
  display: block;
  margin: 0 auto;
  margin-top: 76px;
  margin-bottom: 86px;
}
.main-header,
.primary-header,
.simple-text,
.index-content,
.features-banner-item,
.features-item,
.footer-content-wrapper {
    text-align: center;
}
.primary-header {
  margin-top: 61px;
  margin-bottom: 36px;
}
.simple-text {
  margin-bottom: 56px;
}
.features-banner-item {
  float: left;
  width: 33%;
  min-height: 206px;
  padding-top: 50px;

  color: white;
  background-color: #81b3d2;
}
.features-banner-item .features-text {
  padding-left: 27px;
  padding-right: 30px;
}
.features-item {
  float: left;
  width: 31%;
  padding-left: 1%;
  padding-right: 1%;
}
.features-name {
  margin-bottom: 26px;
  display: block;
  font-size: 21px;
}
.features-number {
  margin-bottom: 26px;
}
.features-image {
  width: 100%;
}
.features-image-wrapper {
  overflow: hidden;
  float: left;
  height: 256px;
  width: 67%;
}


.row-2 {
  background-color: #eeeeee;
}
.row-2 .features-item {
  padding-top: 50px;
  min-height: 206px;
}

.row-1 .features-item {
  width: 31%;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 166px;
  margin-top: 60px;
  padding-top: 104px;
}

.index-content {
  padding-top: 58px;
}
.index-content b {
  display: block;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 24px;
}
.index-content .simple-text {
  margin-bottom: 52px;
}

.hotel-search {
  display: none;
}

.btn-hotel-search {

  background-color: #766357;
}
.main-footer iframe {
  width: 100%;
  height: 475px;
}
.hashtag,
.footer-social,
.footer-copyright {
  float: left;
  width: 33%;
}


/* for catalog.html */

fieldset, legend {
  margin: 0;
  padding: 0;
  border:0;
}

.inner-container {
  padding-right: 6%;
  padding-left: 6%;
}
.inner-container {
  padding-top: 32px;
}
.hotels-type {
  min-height: 217px; /* Temporary */
}
.hotels-type-left {
   float: left;
   width: 50%;
}
.hotels-type-right {
  float: right;
  width: 50%;
  width: 200px; /* Temporary */
}
.hotels-type-left fieldset{
  display: inline-block;
  vertical-align: top;
  width: 49%; /* ?! при 50% переполнение */
}
.price-controls input{
  width: 20%;
}
.input-item {
  display: block;
  height: 50px;
}
.input-item input {
  margin-top: 25px;
}

.row-sorting {
  text-align: center;
  height: 86px;  /* temporary! */
}
.hotel-item {
  min-height: 152px;
}
.hotel-wrapper-left {
  float:left;
}
.hotel-wrapper-right {
  float: right;
}
.search-result-title,
.search-result-sorting,
.arrow-up,
.arrow-down,
.hotel-col-info {
  display: inline-block;
  vertical-align: bottom;
}
.search-result-title {
  line-height: 26px;
  font-size: 21px;
}
.rating-stars {
  margin-bottom: 45px;
}
.hotel-col-info {
  vertical-align: top;
  margin-left: 30px;
}
.hotel-name {
  margin: 0;
  margin-bottom: 12px;
}
.hotel-description {
  margin-bottom: 8px;
}
.hotel-description span:first-child{
  margin-right: 39px;
 }
.btn-more, .btn-book {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 3px;
}
.btn-more {
  background-color: #81b3d2;
  margin-right: 6px;
}
.btn-book {
  padding-left: 16px;
  background-color: #766357;
}
